<div class="title-container">
  <h1 style="text-align: center; font-weight: bolder; font-size: 100px;">
    CAPCO
  </h1>
</div>
<br />
<hr />
<mat-card class="signupForm">
  <form #signupForm="ngForm" [formGroup]="form">
    <h2>Sign Up</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [formControlName]="'name'" matInput type="text" />
      <mat-error>
        <!-- <span>{{ nameState.errorMsg }}</span> -->
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input [formControlName]="'email'" matInput type="email" />
      <mat-error>
        <!-- <span>{{ emailState.errorMsg }}</span> -->
      </mat-error>
    </mat-form-field>
    <br />

    <div style="text-align: center;">
      <button type="submit" class="btn">
        Sign up
      </button>
    </div>
  </form>
</mat-card>
